:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  background-color: #dad1d1;
  color: #333;
}

main {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

article {
  background-color: #cae7f860;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 2rem;
}

nav {
  background-color: #b8dff5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #333;
  padding: 1rem;
}

li {
  list-style: none;
  margin: 0 0.5rem;
  display: inline;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
nav a {
  background-color: rgb(142, 235, 129);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
a:hover {
  background-color: orange;
  color: turquoise;
}
main h2:hover {
  color: #ff6347;
  text-decoration: underline;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  max-height: 400px;
  justify-self: center;
}

p > a {
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
p > a:hover {
  color: #ff6347;
  background-color: transparent;
}
